[submodule "submodules/Renesas-RX-Board-Support-Package-for-YRDKRX63N"]
	path = submodules/Renesas-RX-Board-Support-Package-for-YRDKRX63N
	url = https://github.com/GerryFerdinandus/Renesas-RX-Board-Support-Package-for-YRDKRX63N.git
[submodule "submodules/Renesas-RX-FreeRTOS"]
	path = submodules/Renesas-RX-FreeRTOS
	url = https://github.com/GerryFerdinandus/Renesas-RX-FreeRTOS.git
